<div id="<%= dom_id clock_in_out %>">
  <p>
    <strong>Target date:</strong>
    <%= clock_in_out.target_date %>
  </p>

  <p>
    <strong>Clock in:</strong>
    <%= clock_in_out.clock_in %>
  </p>

  <p>
    <strong>Clock out:</strong>
    <%= clock_in_out.clock_out %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= clock_in_out.duration %>
  </p>

  <p>
    <strong>User:</strong>
    <%= clock_in_out.user_id %>
  </p>

</div>
