<%= form_with(model: clock_in_out) do |form| %>
  <% if clock_in_out.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(clock_in_out.errors.count, "error") %> prohibited this clock_in_out from being saved:</h2>

      <ul>
        <% clock_in_out.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :target_date, style: "display: block" %>
    <%= form.date_field :target_date %>
  </div>

  <div>
    <%= form.label :clock_in, style: "display: block" %>
    <%= form.datetime_field :clock_in %>
  </div>

  <div>
    <%= form.label :clock_out, style: "display: block" %>
    <%= form.datetime_field :clock_out %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
